body{
	margin: 0;
	padding: 0;
}

.bg-custom{
	background-color:#ff9e80;
}

.preloader{
 	position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ff80ab ;
    z-index: 1000;
}

#des{
	margin: 250px auto;
}

#desx{
	margin: 250px auto;
}

#ups{
	font-size: 100px;
	font-weight: bold;
	margin-top: 50px;
}

textarea{
	resize:none;
}

form{
	display: inline;
}

.navbar{
	 background-image: linear-gradient(to right, #e52d27, #b31217);
}

.navbar2{
    background-color: #FE044A;
}

.breadcrumb{
	background: #f85032;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #e73827, #f85032);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #e73827, #f85032); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
